<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controller.home.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.home.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagement</servlet-name>
        <servlet-class>controller.admin.UserManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectManagement</servlet-name>
        <servlet-class>controller.admin.ProjectManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrivacyPolicyManagement</servlet-name>
        <servlet-class>controller.admin.PrivacyPolicyManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentFeedbackManagement</servlet-name>
        <servlet-class>controller.admin.CommentFeedbackManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactFounder</servlet-name>
        <servlet-class>controller.admin.ContactFounder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>controller.admin.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDAO</servlet-name>
        <servlet-class>dao.FeedbackDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.home.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogle</servlet-name>
        <servlet-class>controller.home.LoginGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.home.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.home.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CharityOrganizationManagement</servlet-name>
        <servlet-class>controller.admin.CharityOrganizationManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManagement</servlet-name>
        <servlet-class>controller.admin.CategoryManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleEmailSignUp</servlet-name>
        <servlet-class>controller.home.HandleEmailSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailServlet</servlet-name>
        <servlet-class>controller.home.SendEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.home.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.home.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>controller.home.UpdatePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagement</servlet-name>
        <url-pattern>/usermanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectManagement</servlet-name>
        <url-pattern>/projectmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrivacyPolicyManagement</servlet-name>
        <url-pattern>/privacypolicy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentFeedbackManagement</servlet-name>
        <url-pattern>/commentfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactFounder</servlet-name>
        <url-pattern>/ContactFounder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDAO</servlet-name>
        <url-pattern>/FeedbackDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogle</servlet-name>
        <url-pattern>/logingoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CharityOrganizationManagement</servlet-name>
        <url-pattern>/charityorgmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManagement</servlet-name>
        <url-pattern>/categorymanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleEmailSignUp</servlet-name>
        <url-pattern>/handleemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailServlet</servlet-name>
        <url-pattern>/sendemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/updatepassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
